.up-sells {
	&.upsells {
		&.products {
			@include wrapper;
			padding-right: 0;
			width: 100%;
			margin: rem(40px) auto;
			text-align: center;
			border-top: rem(1px) solid $gray-lt;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include mq('md') {
				flex-direction: row;
				justify-content: center;
				align-items: center;		
				margin-top: rem(90px);
				text-align: center;
			}
			h2 {
				color: $brown;
				font-family: $bd;
				text-transform: uppercase;
				position: relative;
				@include font(30px);
				display: inline-block;
				padding-bottom: rem(16px);
				margin-bottom: rem(18px);
				width: 100%;
				&::after {
					content: "";
					width: rem(120px);
					height: rem(5px);
					background-color: $pink;
					@include center('horizontal');
					bottom: 0;
				}
			}
			li {
				&.product {
					float: none;
					width: 47%;
					margin: rem(16px) 0;
					padding: rem(16px);
					border: rem(1px) solid $gray-lt;
					transition: all 0.32s;
					@include mq('md') {
						width: 23%;
						display: inline-flex;
						margin-left: 0;
						&:hover {
							box-shadow: 0 0 rem(12px) $gray;
						}
					}
					a {
						&:hover{
							text-decoration: none;
						}
					}
					.woocommerce-loop-product {
						&__title {
							@include font(20px);
							color: $pink-dk;
							font-family: $bd;
						}
					}
					.woocommerce-Price-amount {
						&.amount {
							color: $brown;
							font-family: $m-sb;
							@include font(18px);	
						}
					}
				}
			}
		}
	}
}