body {
	&.storefront-full-width-content {
		header {
			&.site-main {
				&__header {
					text-align: center;
					position: relative;
					padding-bottom: rem(16px);
					margin-bottom: rem(18px);
					h2 {
						color: $brown;
						font-family: $bd;
						text-transform: uppercase;
						@include font(30px);
					}
					&::after {
						content: "";
						width: rem(120px);
						height: rem(5px);
						background-color: $pink;
						@include center('horizontal');
						bottom: 0;
					}
				}
			}

			&.entry-header,
			&.woocommerce-products-header {
				text-align: center;
				position: relative;
				padding-bottom: rem(16px);
				margin-bottom: rem(18px);
				h1 {					
					color: $brown;
					font-family: $bd;
					text-transform: uppercase;
					padding: 0 0; 
					@include font(30px);					
				}
				&::after {
					content: "";
					width: rem(120px);
					height: rem(5px);
					background-color: $pink;
					@include center('horizontal');
					bottom: 0;
				}
			}
		}
	}
	&.term-hombre {
		header {
			&.site-main {
				&__header {
					
					&::after {
						background-color: $blue;
					}
				}
			}

			&.entry-header,
			&.woocommerce-products-header {
				
				&::after {
					background-color: $blue;
				}
			}
		}
	}
}