//--  Fonts --//

$md: 'Montserrat Semi Bold';
$bd: 'Montserrat Bold';
$rg: 'Open Sans';

$op-bd:'Open Sans Bold';
$op-it:'Open Sans Italic';
$op-lt:'Open Sans Light';
$op:'Open Sans';
$op-bd-it:'Open Sans Bold Italic';

$m:'Montserrat';
$m-bd:'Montserrat Bold';
$m-lt:'Montserrat Light';
$m-sb:'Montserrat Semi Bold';
$m-ex-bd:'Montserrat Extra Bold';
$ma-ex-lt:'Montserrat Alternates ExLight';
$ma-ebd:'Montserrat Alternates Extra Bold';
$ma-lt:'Montserrat Alternates Light';
$ma-md:'Montserrat Alternates Medium';
$ma-bd:'Montserrat Alternates Bold';


// -- Colors -- //

$white:   #ffffff;
$black:   #000000;
$gray:    #cccccc;
$gray-lt: #DEDEDE;
$gray-a7: #a7a7a7;
$gray-d8: #D8D8D8;

// Brand colors
$blue:     #0b6fc5;
$purple:   #313280;
$blue-dk:  #101c85;
$skin:     #dfb58a;
$brown:    #5a3a32;
$pink:     #fcdedb;
$pink-dk:  #f48279;
$skin-2:   #da8179;